.control-group:not(.ml_group_fields){
	clear: both;
}

.ml_group_fields .control-group {
	display: inline-block;
}

.ml_group_fields .control-group:not(:first-child) {
	margin-left: 10px;
}

.jtags_info,
.ml_tabs.nav-tabs > li > a {
	padding: 3px 5px;
	font-size: 80%;
	font-style: italic;
}

.small {
  font-size: 10px;
  line-height: 12px;
  font-weight: lighter;
}

.fly-color {
	line-height: 12px;
}

.fly-color-value {
	font-style: italic;
	opacity: 0.8;
	font-size: 80%;
	margin: 0;
	line-height: 12px;
	display: inline-block;
}

.jtags_info {
	font-size: 10px;
	font-style: italic;
	opacity: 0.8;
	line-height: 12px;
}

html .jForms_component_container input[disabled],
html .jForms_component_container select[disabled],
html .jForms_component_container textarea[disabled],
html .jForms_component_container input[readonly],
html .jForms_component_container select[readonly],
html .jForms_component_container textarea[readonly] {
	cursor: not-allowed;
	background-color: #eee;
}