#sp-main-body {
  padding:20px 0 !important;
}
hr {
  border: 1px solid #1481ab !important;
  clear: both;
  width: 100%;

}
.groups, .fieldset {
  border: 2px solid #1481ab;
  padding: 10px;
  margin-bottom:20px;
}
.groups .input-group {
  padding-bottom:5px;
}
.labels {
  color: #1481ab;
}
#jform_animal_form-lbl {
  color: #1481ab;
  font-size: 2em;
  font-family: "FontAwesome"; 
}
#jform_animal_form-lbl:before {
  content: '\f06e';
  font-weight: 900; 
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555555;
    text-align: center;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    border-radius: 4px;
    vertical-align: middle;
}
.stranding_admin-title_row {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  position: relative;
  display: table;
  border-collapse: separate;
  display: table-cell;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555555;
  text-align: center;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  border-radius: 4px;
  vertical-align: middle;
}
.input-group-addon, .input-group-btn {
    white-space: nowrap;
    vertical-align: middle;
}
.input-group-addon, .input-group-btn, .input-group .form-control {
    display: table-cell;
}
.included {
  display: table;
  width: 100%;
  margin-bottom: 0;
  border-radius-left: 0;
}
.align-end {
    justify-content: flex-end !important;
}
.btn-group, .btn-group-vertical {
    
    display: block !important;
    
}
#jform_observation_datetime-btn {
  position: absolute;
  margin-top: -38px;
  z-index: 10000;
  height: 100%;
  width: 100%;
  border-radius: 0;
  -webkit-appearance: inherit !important;
}
h1 {
  color: #1481ab !important;
}
.nav-pills li {
    display: inline;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold !important;
    cursor: default;
    margin-top: 10px;
}
label.invalid {
    color: #ff0000 !important;
}
.invalid {
    border-color: #ff0000;
}
#form-stranding_admin .row {
    margin-bottom: 10px;
}
.col-xs-12 {
    width: 100%;  
}

textarea.form-control {
    height: auto;
}
.fa {
  display:inline-block;
  position: relative;
}
/*input[type="radio"] {
    background-color: transparent;
    border: none;
    margin: 10px;
}
.radio, .checkbox {
    position: relative;
    display: block;
    margin-right: 10px;
    margin-left: -10px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.radio label, .checkbox label {
    min-height: 10px;
    padding-left: 10px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}*/
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#form-stranding_admin a.btn{
    position: absolute;
    margin-top: -10%;
    z-index: 10000;
    height: 100%;
    width: 100%;
    border-radius: 0;
    display: block;
    color: transparent;
    -webkit-appearance: none;
}
#jform_observation_localisation {
  height: 100%;
}
.info-mesurements, .fa-info-circle {
  font-size: 20px;
}
.info-mesurements {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.important_mesures {
  background-color: rgb(246, 142, 118);
  border:red;
}
.input-group-addon:first-child {
    border-right: 0;
}
/*.input-group .form-control:first-child, .input-group-addon:first-child, 
.input-group-btn:first-child > .btn, .input-group-btn:first-child > 
.btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, 
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), 
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}*/
/*.com_stranding_forms_localisation .form-control {
    float: left;
}
.com_stranding_forms_date {
  border-bottom-right-radius: 0;
  margin-right: -20px; 
}*/
fieldset {
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
}
.custom-control label {
  font-weight: normal !important;
  padding: 0 10px;
}
div.cetaces_dugongs_measurements_title {
    background-color: #ddd;
    border: 1px solid #eee;
    border-radius: 4px;
    margin-left: initial;
    margin-right: initial;
    text-align: center;
    font-size: 20px;
}
div.cetaces_dugongs_measurements_title, div.stck_loca_field{
  margin-bottom: 15px;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: -10px;
    display: inline-block;
}
ul {
  text-decoration-color: transparent;
}
.jform_tooth_baleen .col-lg-12{
  padding: 10px;
}
.animal_measures_field button {
  margin-bottom: 10px; 
  margin-top: 10px;
}
.animal_measures_field div {
  margin-top: 0; 
}
#rem_field label {
  color: red;
}

.important_measurements span {

  background-color: rgb(246, 142, 118);
}


.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
  .show_tail_fin_image {
    position: relative;
    display: inline-block !important;
    border-bottom: 1px dotted black;
    cursor: help;
  }
  .show_tail_fin_image .tail_fin_image {
    visibility: hidden;
    width: 288px;
    max-width: unset;
    background-color: #fff;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border: 1px solid #000;
    border-radius: 6px;   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  .show_tail_fin_image:hover .tail_fin_image {
    visibility: visible;    
  }
  .form-group ul {
    list-style:none;
  }
  .label_icon {
    padding:0px !important;
  }
  .mesure_important label {
    background-color: #F68E76 !important;
    border: 2px solid #F36166 !important;
  }
  .subform-repeatable-group {
    margin-bottom: 20px;
  }
  /* Style the tab */
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between !important;
  }

  /* Style the buttons that are used to open the tab content */
  .tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }

  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }
  .tab1 {
    display:block;
  }
  .hidden {
    display:none;
  }
  .mesures_div {
    display: flex;
    flex-flow: wrap;
    padding: 0 !important;
  }
  .mesures_div label {
    width: 40px;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #555555;
    text-align: center;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
    border-radius: 4px;
    vertical-align: middle;
    margin-top:0;
  }
  .mesure_middle {
    align-items:center;
  }
  .mesures {
    float:right;
    width: auto !important;
    padding:7px !important;
  }
