.icon-48-cot_forms {
      background-image: url(../images/l_cot_forms.png);
      padding-left:60px!important;
}

.icon-48-cot_forms {
      background-image: url(../images/l_cot_forms.png);
      padding-left:60px!important;
}

.souslabels {
      padding-bottom:5px;
}

.souscontrol-labels {
      padding-right:5px;
      padding-left:2px;
      float:left;
}
