.icon-48-stranding_forms {
      background-image: url(../images/l_stranding_forms.png);
      padding-left:60px!important;
}

.icon-48-stranding_forms {
      background-image: url(../images/l_stranding_forms.png);
      padding-left:60px!important;
}

.souslabels {
      padding-bottom:5px;
}

.souscontrol-labels {
      padding-right:5px;
      padding-left:2px;
      float:left;
}

.radio .input-group {
  display: block;
}
